# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
.DS_Store

# Recycle Bin used on file shares
ipch/
Debug/
Release/
.vs/

*.pdb
*.obj
*.opensdf
*.sdf
*.suo
*.pyc

# Windows shortcuts
*.lnk
